/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*|-----------------------------------------------------------------------------------------|*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
  box-sizing: border-box;
}
:root {
	--clearSky: url(../images/clear_sky.jpg);
	--cloudSky: url(../images/clouds.jpg);
	--cardBackground: rgba(255,255,255,0.5);
	--buttonBackground:rgba(177, 177, 177, 0.5);
	--buttonHover:rgba(255,255,255,0.5);
	--cardShadow: rgba(0, 0, 0, 0.25);
	--cardBorder: rgba(255, 255, 255, 0.3);
	--strokeBlack: rgb(25,25,25);
	--strokeGray: rgb(100,100,100);
	--selectedColor: rgb(96, 195, 252);
}


body{
	font-family: 'Nanum Gothic', sans-serif;
	/* background-image: url(../images/clear_sky.jpg); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#root {
	display: grid;
	justify-content: center;
	align-items: center;

	grid-template-columns: 1fr;
	grid-template-rows: 100px 4fr ;
	grid-template-areas: "nav"
											"main"
	;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
main {
	grid-area: main;
	width: 100%;

}
nav {
	grid-area: nav;
	width: 100%;
}
.change-button {
	padding: 0.5rem;
	margin-left: 1rem;
	font-size: 1rem;
	border: none;
	background-color: var(--cardBackground);
	backdrop-filter: blur(20px);
	box-shadow: 0px 1px 12px var(--cardShadow);
	transition: font-size 0.3s;
}
.change-button:hover {
	outline: 2px solid white;
}
.city-form {
	padding: 2rem 0;
	position: relative;
}
.form-input {
	border: none;
	background-color: var(--cardBackground);
	color: var(--strokeBlack);
	border-bottom: 2px solid var(--strokeBlack);
	padding: 0.5rem;
	backdrop-filter: blur(20px);
	outline: none;
}
.form-button {
	display: inline;
	border: none;
	border-radius: 0.2rem;
	background-color: transparent;
	background-image: url(../images/magnify.svg);
	background-position: center;
	background-repeat: no-repeat;
	font-size: 1.2rem;
	padding: 1rem;
	transition: padding 0.3s;
}
/* .form-button:hover{
	width: 1.5rem;
	padding: 1.2rem;
} */
svg {
	display: block;
	margin-bottom: 2rem;
	border: 1px solid var(--strokeGray);
	width: 100%;
}
svg path {
	stroke: var(--strokeBlack);
	stroke-width: 2;
	fill: none;
}
svg circle {
	stroke-width: 2;
	stroke: var(--strokeGray);
	fill: transparent;
}
svg g path {
	stroke: var(--strokeGray);
}
svg text {
	font-size: 1.2rem;
}
.row {
	display: flex;
	justify-content: center;
	align-items: center;
}
.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.grid {
	display: grid;
	grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
	justify-items: center;
	width: 100%;
	gap: 1rem;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem 0;

	backdrop-filter: blur(20px);
	background-color: var(--cardBackground);
	border-radius: 8px;

	box-shadow: 6px 10px 12px var(--cardShadow);
	cursor: pointer;
	/* outline: 0px solid white; */
	transition: outline 0.5s ease-in-out; 
}
.selected {
	outline: 4px solid var(--selectedColor);
}
.card-weather {
	text-align: center;
	font-size: 2rem;
}

.card-names-container p {
	padding: 1rem;
	font-size: 1.5rem;
}
.temp-section {
	text-align: center;
	margin-bottom: 1.2rem;
}
.temp-section span {
	font-size: 1.5rem;
	padding: 0 0.6rem;
}
.main-temperature {
	display: block;
	text-align: center;
}
.condition-section img {
	width: 2rem;
}
